body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}


.half,
.half .container > .row {
  height: 100vh;
}

@media (max-width: 991.98px) {
  .half .bg {
    height: 200px;
  }
}

.half .contents {
  background: #d9dbda6b;
}

.half .contents,
.half .bg {
  width: 50%;
}
@media (max-width: 1199.98px) {
  .half .contents,
  .half .bg {
    width: 100%;
    height: 100vh;
  }
}




.hello {
  font-family: "Dancing Script", cursive; /* Set the font for the entire body */
}

#logo {
 padding-right: 40%;
 text-align: center;
 font-family: "Dancing Script", cursive; /* Set the font for #bbh specifically */

}

#bbh {
  font-size: 100px;
  font-weight: bold;
  color: #32BE8F;
  font-family: "Dancing Script", cursive; /* Set the font for #bbh specifically */
}

#hub {
  font-size: 50px;
  color: #32BE8F;
  font-family: "Dancing Script", cursive; /* Set the font for the entire body */
}
